<h2>Créer une partie</h2>
<input type="text" id="name" [(ngModel)]="match.name" />
<input type="number" id="size" [(ngModel)]="match.size" />
<button (click)="ajouterMatch()">Nouvelle partie</button>


<h2>Parties en cours</h2>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Size</th>
      <th>State</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let match of srvMatch.matches">
      <td>{{ match.id }}</td>
      <td>{{ match.name }}</td>
      <td>{{ match.size }}</td>
      <td>{{ match.state }}</td>
      <td>
        <button>Rejoindre</button>
        <button *ngIf="srvUser.user.id == match.owner.id" (click)="supprimerMatch(match)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>
