<div class="board">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8 row">
            <div class="player col-4">
                <tr player></tr>
            </div>
            <div class="player col-4">
                <tr player></tr>
            </div>
            <div class="player col-4">
                <tr player></tr>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="player">
                <tr player></tr>
            </div>
            
            <div class="player">
                <tr player></tr>
            </div>
        </div>
        <div class="boardCenter col-6">
        </div>
        <div class="col-3">
            <div class="player">
                <tr player></tr>
            </div>
            
            <div class="player">
                <tr player></tr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
        </div>
        <div class="currentPlayer player col-4">
            <img src="/assets/img/roleBack.jpg" />
            <img src="/assets/img/cableBack.jpeg" />
            <img src="/assets/img/cableBack.jpeg" />
            <img src="/assets/img/cableBack.jpeg" />
            <img src="/assets/img/cableBack.jpeg" />
            <img src="/assets/img/cableBack.jpeg" />
        </div>
    </div>
</div>