<!DOCTYPE html>
<html  th:replace="~{ fragments/layout.html :: layout('Espace admin', ~{ ::main }) }">
	
	<main class="row">
		
			<h1>[[ ${ #authentication.name } ]], Bienvenue sur l'espace administrateur.</h1>
			<br/>
			<div class="row col-12">
				<form action="admin/ville" method="POST">
					<input id="csrf" type="hidden" th:name="${ _csrf.parameterName }" th:value="${ _csrf.token }" />
					<label for="villes">Gérer la listes des villes disponibles à la vente</label><br/>
					<input type="submit" value="Modifier les villes" id="villes" class="btn btn-info" />
				</form>
			</div>
			<br/>
			<div class="row col-12">
				<form action="admin/transport" method="POST">
					<input id="csrf" type="hidden" th:name="${ _csrf.parameterName }" th:value="${ _csrf.token }" />
					<label for="transports">Gérer la listes des moyens de transport disponibles à la vente</label><br/>
					<input type="submit" value="Modifier les transports" id="transports" class="btn btn-info" />
				</form>
			</div>	
			<br/>

<!-- -------------Gérer Villes------------- -->
			
			<th:block th:switch="${session.aGerer}">
				<div th:case="gererVilles">
					<div class="row">	
							
						<h3>Supprimer une ville de la liste</h3>
						
						<table id="tableVille" class="table tableau">
							<tr>
								<td class="colonne3"></td>
								<td class="colonne3"><strong>Ville</strong></td>
								<td class="colonne3"><strong>Latitude</strong></td>
								<td class="colonne3"><strong>Longitude</strong></td>
							</tr>
							
							<tr th:each="v : ${villes}" th:idVille="${v.id}">
								<td>
									<button class="supprimerVille btn btn-outline-info" th:idVille="${v.id}">Supprimer</button>
								</td>
								<td>[[ ${v.nom} ]]</td>
								<td>[[ ${v.latitude} ]]</td>
								<td>[[ ${v.longitude} ]]</td>
							</tr>
						</table>
					</div>
						
					<div class="row">		
						<h3>Ajouter une ville à la liste</h3>
						
						<input id="csrf" type="hidden" th:name="${ _csrf.parameterName }" th:value="${ _csrf.token }" />
						<table class="table tableau">
							<thead class="thead-dark">
								<tr>
									<td class="colonne3"></td>
									<td class="colonne3"><strong>Ville</strong></td>
									<td class="colonne3"><strong>Latitude</strong></td>
									<td class="colonne3"><strong>Longitude</strong></td>
								</tr>
							</thead>
							
							<tr>
								<td>
									<button class="ajouterVille btn btn-outline-info">Ajouter</button>
								</td>
								<td>
									<input type="text" required placeholder="Nom" id="nomVille" name="nom" />
								</td>
								<td>
									<input type="number" step="0.1" required placeholder="Latitude" id="latitude" name="latitude" />
								</td>
								<td>
									<input type="number" step="0.1" required placeholder="Longitude" id="longitude" name="longitude" />
								</td>
							</tr>	
						</table>
						<div class="row"><a target="_blank" href="https://www.coordonnees-gps.fr/">Chercher les coordonnées d'une ville</a></div>	
					</div>
				</div>
	
	<!-- -------------Gérer Transports------------- -->
			
				<div th:case="gererTransports">
<!-- 				<div th:if="${gererTransports == 'Y'}">	 -->
					<div class="row">						
						<h3>Supprimer un moyen de transport de la liste</h3>
						
						<table id="tableTransport" class="table tableau">
							<thead class="thead-dark">
								<tr>
									<td class="colonne3"></td>
									<td class="colonne3"><strong>Transport</strong></td>
									<td class="colonne3"><strong>Prix au km (€)</strong></td>
									<td class="colonne3"><strong>Vitesse (km/h)</strong></td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="t : ${transports}">
									<td>
										<button class="supprimerTransport btn btn-outline-info" th:idTransport="${t.id}" >Supprimer</button>
									</td>
									<td>[[ ${t.nom} ]]</td>
									<td>[[ ${t.prixAuKm} ]]</td>
									<td>[[ ${t.vitesse} ]]</td>
								</tr>
							</tbody>
						</table>
					</div>
						
					<div class="row">	
						<h3>Ajouter un moyen de transport à la liste</h3>
						
						<input id="csrf" type="hidden" th:name="${ _csrf.parameterName }" th:value="${ _csrf.token }" />
						<table class="table tableau">
							<thead class="thead-dark">
								<tr>
									<td class="colonne3"></td>
									<td class="colonne3"><strong>Transport</strong></td>
									<td class="colonne3"><strong>Prix au km (€)</strong></td>
									<td class="colonne3"><strong>Vitesse (km/h)</strong></td>
								</tr>
							</thead>
							
							<tr>
								<td>
									<button class="ajouterTransport btn btn-outline-info">Ajouter</button>
								</td>
								<td>
									<input type="text" required placeholder="Nom" id="nomTransport" name="nom" />
								</td>
								<td>
									<input type="number" step="0.01" required placeholder="Prix" id="prix" name="prixAuKm" />
								</td>
								<td>
									<input type="number" step="1" required placeholder="Vitesse" id="vitesse" name="vitesse" />
								</td>
							</tr>	
						</table>
					</div>			
				</div>
			</th:block>
		
		<script>
		
			$('.ajouterVille').click(function() {
				
				let villeAAjouter = {
						nom: $('#nomVille').val(),
						latitude: $('#latitude').val(),
						longitude: $('#longitude').val(),
				};
				
				let csrfToken = $('#csrf').val();
				
				$.ajax('api/ville', {
					type: 'POST',
					data: JSON.stringify(villeAAjouter),
					dataType: 'json',
					contentType: 'application/json',
					headers: {
						'X-CSRF-Token': csrfToken
					},
					success: function(ville) {
						var trHTML = $('<tr />');
						trHTML.html('<td><button class="supprimerVille btn btn-outline-info" idVille="'+ville.id+'" >Supprimer</button></td><td>' + ville.nom + '</td><td>' + ville.latitude + '</td><td>' + ville.longitude + '</td>');
						$('#tableVille tbody').append(trHTML);
						
						trHTML.find('.supprimerVille').click(supprVille);
					}
				});
			});
		
			$('.supprimerVille').click(supprVille);
			
			function supprVille() {
				let btnClicked = $(this);
				
				let id = btnClicked.attr('idVille');
				
				let csrfName = $('#csrf').attr('name');
				let csrfToken = $('#csrf').val();
				let data = {};
				data[csrfName] = csrfToken;
				
				$.ajax("api/ville/"+id, {
					type: 'DELETE',
					data: data,
					success: function() {
						btnClicked.closest('tr').remove();
						return false;
					}
				});
			};
		
			$('.ajouterTransport').click(function() {
				
				let transportAAjouter = {
						nom: $('#nomTransport').val(),
						prixAuKm: $('#prix').val(),
						vitesse: $('#vitesse').val(),
				};
				
				let csrfToken = $('#csrf').val();
				
				$.ajax('api/transport', {
					type: 'POST',
					data: JSON.stringify(transportAAjouter),
					dataType: 'json',
					contentType: 'application/json',
					headers: {
						'X-CSRF-Token': csrfToken
					},
					success: function(transport) {
						var trHTML = $('<tr />');
						trHTML.html('<td><button class="supprimerTransport btn btn-outline-info" idTransport="'+transport.id+'" >Supprimer</button></td><td>' + transport.nom + '</td><td>' + transport.prixAuKm + '</td><td>' + transport.vitesse + '</td>');
						$('#tableTransport tbody').append(trHTML);
						
						trHTML.find('.supprimerTransport').click(supprTransport);
					}
				});
			});
		
			$('.supprimerTransport').click(supprTransport);
			
			function supprTransport() {
				let btnClicked = $(this);
				
				let id = btnClicked.attr('idTransport');
				
				let csrfName = $('#csrf').attr('name');
				let csrfToken = $('#csrf').val();
				let data = {};
				data[csrfName] = csrfToken;
				
				$.ajax("api/transport/"+id, {
					type: 'DELETE',
					data: data,
					success: function() {
						btnClicked.closest('tr').remove();
						return false;
					}
				});
			};
			
		</script>
		
	</main>
</html>