<!DOCTYPE html>
<html th:replace="~{ fragments/layout.html :: layout('Commandes', ~{ ::body }) }">
	<body class="centre">
		<h1>Récapitulatif de vos commandes :</h1> <br/>
		<table class="table tableau">
			<div th:if="${ commandes == null }">Vous n'avez pas encore de commandes !</div>
			<div th:if="${ commandes != null }">
				<thead class="thead-dark">
					<tr>
						<td><strong>Ville de départ</strong></td>
						<td><strong>Ville d'arrivée</strong></td>
						<td><strong>Moyen de transport</strong></td>
						<td><strong>Durée</strong></td>
						<td><strong>Prix</strong></td>
					</tr>
				</thead>

				<tr th:each="com : ${ commandes }">
					<td>[[ ${com.v1.nom} ]]</td>
					<td>[[ ${com.v2.nom} ]]</td>
					<td>[[ ${com.t.nom} ]]</td>
					<td>[[ ${com.duree} ]]</td>
					<td>[[ ${com.prix} ]] €</td>
				</tr>
			</div>
		</table>
	</body>
</html>