<!DOCTYPE html>
<html  th:replace="~{ fragments/layout.html :: layout('Voyages disponibles', ~{ ::main }) }">

	<main class="row">
		<h1>Voyages disponibles</h1> <br/>
		<table class="table tableau">
			<thead class="thead-dark">
				<tr>
					<th><strong>Sélectionner</strong></th>
					<th><strong>Ville de départ</strong></th>
					<th><strong>Ville d'arrivée</strong></th>
					<th><strong>Moyen de transport</strong></th>
					<th><strong>Durée</strong></th>
					<th><strong>Prix</strong></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="voy : ${ recherche }">
					<td> <input type="button" class="addPanier btn btn-outline-info" th:v1="${voy.v1.nom}" th:v2="${voy.v2.nom}" th:t="${voy.t.nom}" value="Ajouter au panier"></td>
					<td>[[ ${ voy.v1.nom } ]]</td>
					<td>[[ ${ voy.v2.nom } ]]</td>
					<td>[[ ${ voy.t.nom } ]]</td>
					<td>[[ ${ voy.duree } ]]</td>
					<td>[[ ${ voy.prix } ]] €</td>
				</tr>
			</tbody>
		</table> <br/>
		<div class="row col-12 boutonCentre">
		<a href="panier"> 
			<button class="showPanier btn btn-info">Accéder au panier ([[ ${nbPanier} ]])</button>
		</a>
		</div> <br/>
		<h2>Effectuer une nouvelle recherche</h2><br/>
		<form class="form-group row" method="POST" action="recherche">
			<input id="csrf" type="hidden" th:name="${ _csrf.parameterName }" th:value="${ _csrf.token }" />
			<div class="col-4">Ville de départ
				<select required id="v1" name="v1" class="form-control formWidth">
					<option disabled selected value="N">Sélectionnez une ville de départ</option>
					<option th:each="v : ${ villes }" th:value="${v.nom}">[[ ${ v.nom } ]]</option>
				</select>
			</div>

			<div class="col-4">Ville d'arrivée
				<select id="v2" name="v2" class="form-control formWidth">
					<option selected value="N">Toutes</option>
				</select>
			</div>
			<div class="col-4">Moyen de transport
				<select id="t" name="t" class="form-control formWidth">
					<option selected value="N">Tous</option>
				</select>
			</div>
			<div id="rechercheButton" class="col-12">
				<input class="btn btn-info" type="submit" value="Lancer la recherche">
			</div>
		</form>
		
		
		<script th:inline="javascript">
		
		const getCellValue = (tr, idx) => {
			if (idx != 5 && idx != 4) {
				return tr.children[idx].innerText || tr.children[idx].textContent;
			}
			
			else if (idx == 5) {	//colonne 'prix'
				let trd1 = tr.children[idx].innerText;
				let tr1 = trd1.slice(0,trd1.indexOf('.'))
				let trd2 = tr.children[idx].textContent;
				let tr2 = trd2.slice(0,trd2.indexOf('.'))
				
				return tr1 || tr2;
			}
			
			else if (idx == 4) {	//colonne 'durée'
				let trd1 = tr.children[idx].innerText;
				let tr1 = trd1.slice(0,trd1.indexOf('h')-1)
				let trd2 = tr.children[idx].textContent;
				let tr2 = trd2.slice(0,trd2.indexOf('h')-1)
				
				return tr1 || tr2;
			}
		};

		const comparer = (idx, asc) => (a, b) => ((val1, val2) => 
		    val1 !== '' && val2 !== '' && !isNaN(val1) && !isNaN(val2) ? val1 - val2 : val1./*toString().*/localeCompare(val2)
		    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
		
		document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
			const table = th.closest('table');
			const tbody = table.querySelector('tbody');
			Array.from(tbody.querySelectorAll('tr'))
				.sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
		        .forEach(tr => tbody.appendChild(tr) );
		})));
		
		</script>
		
		<script th:inline="javascript">
		
		var v2 = document.querySelector('[id="v2"]');
		var t = document.querySelector('[id="t"]');

		$('#v1').change(function() {
			
			var l = v2.options.length;
			for (j = 0; j < l; j++) {
				v2.remove(1);}
			
			let ville1 = $('#v1 option:selected').val();
			
			let csrfName = $('#csrf').attr('name');
			let csrfToken = $('#csrf').val();
			
			let data = {
				v1: ville1
			};

			data[csrfName] = csrfToken;
			
			$.ajax('actVille2', {
				type: 'POST',
				data: data,
				success: function(liste) {
					var villes2 = JSON.parse(liste);
					
					for (j = 0; j < villes2.length; j++) {
						var c = document.createElement("option");
						c.text = villes2[j].nom;
						v2.options.add(c, j + 1);
					}
				}
			});
			
		});

		
		$('#v2').change(function() {
		
			var lt = t.options.length;
			for(j = 0 ; j < lt ; j++) {
				t.remove(1);}
			
			transports = [];
			
			if(v2.selectedIndex != 0) {
				for (const t of [[${transports}]]) {
					transports.push(t.nom);
				}
			
				for(j = 0 ; j < transports.length ; j++) {
					var c = document.createElement("option");
					c.text = transports[j];
					t.options.add(c, j+1);
				}
			}
		});
		
		$('.addPanier').click(function(){
			let btnClicked = $(this);
			
			let nomV1 = btnClicked.attr('v1');
			let nomV2 = btnClicked.attr('v2');
			let nomT = btnClicked.attr('t');
			
			let csrfName = $('#csrf').attr('name');
			let csrfToken = $('#csrf').val();
			
			let data = {
					nomV1: nomV1,
					nomV2: nomV2,
					nomT: nomT
			};
			
			data[csrfName] = csrfToken;
			
			$.ajax('ajoutPanier', {
				type: 'POST',
				data: data,
				success: function(nbPanier) {
					//$('.showPanier').html('Accéder au panier (' + nbPanier + ')');
					$('.showPanier').html(`Accéder au panier (${ nbPanier })`);
				}
			});
			
			/*fetch('ajoutPanier', {
				method: 'POST',
				body: new URLSearchParams({
					nomV1: nomV1,
					nomV2: nomV2,
					nomT: nomT
				}),
				
			})
			.then(resp => resp.text())
			.then(nbPanier => {
				document.querySelector('button').innerHTML = 'Accéder au panier (' + nbPanier + ')';
			});*/
		});
		
		</script>

	</main>


<!-- //-----------------------------------------------------------------//
	//-----------------------------------------------------------------//
	//-----------------------------------------------------------------//
	//-----------------------------------------------------------------//
 -->
</html>